{% capture year_from %}{{ include.job.from | date: '%Y'}}{% endcapture %}
{% capture year_to %}{{ include.job.to | date: '%Y'}}{% endcapture %}
<div class="job" style="background-image:url({{ include.job.logo | absolute_url }})">
    <h3>
        {{ include.job.title }},
        {% if include.job.url %}
            <a href="{{ include.job.url }}">
        {% endif %}
        {{ include.job.company }}
        {% if include.job.url %}
            <sup><i class="fa fa-external-link-square-alt"></i></sup></a>
        {% endif %}
        <span class="year">
            {% if year_from == year_to %}
                {{ year_to }}
            {% else %}
                {{ year_from }}-{{ year_to }}
            {% endif %}
        </span>
    </h3>
    <ul class="links">
        {% for item in include.job.links %}
            <li>
                <a href="{{ item.url }}" target="_blank"><i class="{{ item.icon }}"></i></a>
            </li>
        {% endfor %}
    </ul>
    <ul class="skills">
        {% for item in include.job.skills %}
            <li data-skill="{{ item }}">
                {{ item }}
            </li>
        {% endfor %}
    </ul>
    <ul class="responsibilities">
        {% for item in include.job.responsibilities %}
            <li>{{ item.description | markdownify }}</li>
        {% endfor %}
    </ul>
</div>