.job {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    ul {
        list-style: none;
        li {
            b {
                font-weight: 900;
            }
            &::before {
                content: "❯";
                color: #AAA;
                font-weight: 900;
                width: 1em;
                margin-left: -1em;
                font-family: $title-font;
                font-size: 50%;
                position: relative;
                bottom: 2.5pt;
            }
            p {
                display: inline;
            }
        }
    }
    a {
        &.icon {
            color: #000;
            margin: 5px;
        }
    }
    &:nth-child(even) {
    }
    &:nth-child(odd) {
    }
}