---
---

* {
    color: #000;
    font-size: 100%;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5 {
    font-weight: bold;
    font-family: arial black;
}
h1 {
    font-size: 80pt;
}
h2 {
    font-size: 60pt;
}
h3, h4, h5 {
    font-size: 50pt;
    margin-bottom: 1em;
}
body {
    font-size: 36pt;
    font-family: Ubuntu;
    .contact {
        font-size: 14pt;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    a {
        text-decoration: none;
    }
    ul {
        li {
            list-style-type: none;
        }
    }
    blockquote {
        margin: 0px;
        padding: 0px;
        ul {
            margin: 0px;
            line-height: 1.2em;
            li {
                line-height: normal;
                font-family: Ubuntu;
                display: inline-block;
                width: 15%;
                padding: 0px;
                margin: 0px;
                margin-left: 3pt;
                margin-right: 3pt;
                text-align: center;
                vertical-align: middle;
            }
        }
    }
    dl {
        width: 18em;
        dt {
            display: inline-block;
            font-size: 32pt;
            width: 1em;
            line-height: 1.6em;
            &:nth-child(7), &:nth-child(8) {
                display: none;
            }
        }
        dd {
            display: inline-block;
            width: 15em;
            line-height: 1.6em;
            &:nth-child(9), &:nth-child(10) {
                display: none;
            }
        }
     }
}

