---
---

* {
    color: #000;
    font-size: 100%;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5 {
    font-weight: bold;
    font-family: arial black;
}
h1 {
    font-size: 80pt;
}
h2 {
    font-size: 60pt;
}
h3, h4, h5 {
    font-size: 50pt;
    margin-bottom: 1em;
}
body {
    font-family: Ubuntu;
    font-size: 40pt;
    .contact {
        font-size: 14pt;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    ul {
        li {
            list-style-type: none;
        }
    }
    blockquote {
        margin: 0px;
        padding: 0px;
        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin: 0px;
            li {
                flex-basis: 1;
                margin-top: 5pt;
                margin-bottom: 3pt;
                margin-left: 3pt;
                margin-right: 3pt;
                text-align: center;
                vertical-align: middle;
                align-items: center;
            }
        }
    }
    dl {
        width: 18em;
        dd {
            display: inline-block;
            width: 15em;
            line-height: 1.6em;
        }
        dt {
            display: inline-block;
            font-size: 32pt;
            width: 1em;
            line-height: 1.6em;
        }
    }
}

